# Coverage files
*.gcno
*.gcda
*.gcov
*coverage.info
*coverage_filtered.info
*.html


tests/unit_tests/data/
tests/unit_tests/new_report/
tests/unit_tests/coverage_report/
tests/unit_tests/report/
tests/unit_tests/suites/.vscode/
tests/unit_tests/suites/test_dtoa


# Build artefacts
*.o
*.so
*.a
*.dll
*.exe

# Formatting 
style/clang-format-report.txt
style/format-diffs/

# Valgrind
valgrind/*_log.txt

# Lizard
lizard/*.txt

cpachecker/
flawfinder/flawfinder-terminal.txt
lizard/._preproc.c
tests/integration_tests/coverage/
tests/integration_tests/results/

tmp